{% extends 'base.html.twig' %}

{% block main %}
    <h1>Product category creation</h1>
<div class="row">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Create" />
        <a class="btn btn-default" role="button" href="{{ path('product-category_index') }}">Back to the list</a>

    {{ form_end(form) }}
</div>

{% endblock %}
