{% extends 'base.html.twig' %}

{% block body %}
    <h1>Productcategory</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ productCategory.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ productCategory.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('product-category_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('product-category_edit', { 'id': productCategory.id }) }}">Edit</a>
        </li>

    </ul>
{% endblock %}
