{% extends 'base.html.twig' %}

{% block body %}
    <h1>Product creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-info" type="submit" value="Create" />
        <a class="btn btn-default" href="{{ path('product_index') }}">Back to the list</a>

    {{ form_end(form) }}



{% endblock %}
