{% extends 'base.html.twig' %}

{% block main %}
    <h1>My shopping cart</h1>
    <h2>Your shopping cart is empty!</h2>
    <p>Please view our products list and add to cart first :) </p>
    <a class="btn btn-default" role="button" href="{{ path('saleoffer_index') }}">Products list</a>
{% endblock %}

